untitled folder/jljandrew_CompilerOutput/services/ProfileService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProfileService"
    targetNamespace="http://www.opentravel.org/OTM/profile/v0"
    xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:ota2="http://www.opentravel.org/OTM/Common/v0"
    xmlns:ota2msg="http://opentravel.org/common/message/v02"
    xmlns:otm="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00"
    xmlns:prof="http://www.opentravel.org/OTM/profile/v0"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.opentravel.org/OTM/profile/v0">
            <xsd:annotation>
                <xsd:appinfo>
                    <otm:Library>
                        <otm:ProjectName>jljandrew.otp</otm:ProjectName>
                        <otm:ServiceName>ProfileService</otm:ServiceName>
                        <otm:LibraryName>Profile</otm:LibraryName>
                        <otm:LibraryVersion>0.0.0</otm:LibraryVersion>
                        <otm:LibraryStatus>DRAFT</otm:LibraryStatus>
                        <otm:SourceFile>/Profile_0_0_0.otm</otm:SourceFile>
                        <otm:CompilerVersion>4.0-SNAPSHOT</otm:CompilerVersion>
                        <otm:CompileDate>2016-05-18T15:17:39.997-04:00</otm:CompileDate>
                    </otm:Library>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:include schemaLocation="Profile_0_0_0_Trim.xsd"/>
            <xsd:import
                namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="built-ins/SOAP_envelope.xsd"/>
            <xsd:import
                namespace="http://opentravel.org/common/message/v02" schemaLocation="built-ins/OTA2_Message_v2.0.0.xsd"/>
            <xsd:import
                namespace="http://www.OpenTravel.org/ns/OTA2/AppInfo_v01_00" schemaLocation="built-ins/OTA2_AppInfo_v1.0.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="CreateRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:CreateRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="CreateRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:CreateRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="CreateFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:DeleteRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:DeleteRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="DeleteFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="ReadRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:ReadRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="ReadRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:ReadRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="ReadFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateRQ">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:UpdateRQ" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateRS">
        <wsdl:part element="ota2msg:MessageHeader" name="header"/>
        <wsdl:part element="prof:UpdateRS" name="body"/>
    </wsdl:message>
    
    <wsdl:message name="UpdateFault">
        <wsdl:part element="env:Fault" name="body"/>
    </wsdl:message>
    
    <wsdl:portType name="ProfileServicePortType">
        <wsdl:operation name="Create">
            <wsdl:input message="prof:CreateRQ"/>
            <wsdl:output message="prof:CreateRS"/>
            <wsdl:fault message="prof:CreateFault" name="CreateFault"/>
        </wsdl:operation>
        <wsdl:operation name="Delete">
            <wsdl:input message="prof:DeleteRQ"/>
            <wsdl:output message="prof:DeleteRS"/>
            <wsdl:fault message="prof:DeleteFault" name="DeleteFault"/>
        </wsdl:operation>
        <wsdl:operation name="Read">
            <wsdl:input message="prof:ReadRQ"/>
            <wsdl:output message="prof:ReadRS"/>
            <wsdl:fault message="prof:ReadFault" name="ReadFault"/>
        </wsdl:operation>
        <wsdl:operation name="Update">
            <wsdl:input message="prof:UpdateRQ"/>
            <wsdl:output message="prof:UpdateRS"/>
            <wsdl:fault message="prof:UpdateFault" name="UpdateFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
</wsdl:definitions>
